<div class="row" style="text-align:center;display:block;">
        {% if demandes|length%}
        {% for item in demandes %}                                   
              <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                    <th scope="col" class="coin_name_th">Nom</th>
                    <th scope="col" class="action_th" >ACTIONS</th>                                            </tr>
                </thead>
                <tbody>
                    <tr class="traending_ico_tr">
                        <td data-label="ratings" class="ratings_td">
                    
                             
                                {{item.nom}}  {{item.montant}}  
        
                        </td>
                            <td>
                                {%if item.paye%}
                                    <a> Remboussement effectué</a>
                                {%else%}
                                <form data-request="onRembourse">
                                        <input type="hidden" name="event" value="{{item.event_id}}">
                                        <input type="hidden" name="usersender" value="{{item.user_send_id}}">
                                        <input type="hidden" name="montant" value="10000">
                                        <input type="submit" class="btn" value="Rembousser">
                                    </form>
                                {%endif%}
    
                            </td>      
                    </tr>
                </tbody>
              </table>       
                           
            {% endfor%}
        {%else%}
            <h3>NO demande</h3>
        {%endif%}
    </div>