{{form_ajax('onFilterAccess',{update:{'access/events':'#upcoming_tab','access/eventsexpire':'#ending_tab','access/eventspublier':'#active_tab'}})}}
<div id="EventFilter" class="text-center">
        <label>Page</label>
        <select class="ui fluid dropdown" name="Filter[page]">
            {% for i in 1..accesspages %}
                {%  if i == page %}
                    <option value="{{page}}" selected>{{ page }}</option>
                {% else %}
                    <option value="{{i}}">{{ i }}</option>
                {% endif %}
            {% endfor %}
        </select>
      </div>
      {{form_close()}}
     