{{form_ajax('onFilterEvents',{update:{'events/events':'#upcoming_tab','events/eventexpire':'#ending_tab','events/pagination':'#active_tab'}})}}
<div id="EventFilter" class="text-center">
        <label>Page</label>
        <select class="ui   dropdown" name="Filter[page]">
            {% for i in 1..pages %}
                {%  if i == page %}
                    <option value="{{page}}" selected>{{ page }}</option>
                {% else %}
                    <option value="{{i}}">{{ i }}</option>
                {% endif %}
            {% endfor %}
        </select>
      </div>
      {{form_close()}}
     