
.navbar-area .navbar-header:before {
    background-color: #7d5fff;
}

.block-btn {
    background-color: #7d5fff;
}

.live-token-sale .token-sale-top-bar .right-content .tab-navbar .nav-tabs .nav-item .nav-link:hover {
    color: #7d5fff;
}

.live-token-sale .token-sale-top-bar .right-content .tab-navbar .nav-tabs .nav-item .nav-link.active {
    color: #7d5fff;
}

.live-token-sale .token-sale-top-bar .right-content .tab-navbar .nav-tabs .nav-item .nav-link:after {
    background-color: #7d5fff;
}

.btn-primary {
    background-color: #7d5fff;
    border-color: #7d5fff;
}

.back-to-top {
    background-color: #7d5fff;
}

.subscribe-area .subscribe-wrapper .subscribe-form .submit-btn {
    background-color: #7d5fff;
}

.testimonial-area .testimonial-wrapper .single-testimonial-item .content .post {
    color: #7d5fff;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
    color: #7d5fff;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:after {
    background-color: #7d5fff;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:after {
    background-color: #7d5fff;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu .dropdown-item:hover {
    background-color: #7d5fff;
}

.submit-form-btn {
    background-color: #7d5fff;
}

.form-element.square label span {
    color: #7d5fff;
}

.login-modal-navigation .nav-link.active {
    background-color: #7d5fff;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item.active .nav-link {
    color: #7d5fff;
}

.live-token-sale .tab-content .tab-pane .single-ico-list-box .content .boxed-btn-rounded:hover {
  border-color: #7d5fff;
  background-color: #7d5fff;
}

.header-area .search-form-wrapper .submit-btn {
  background-color: #7d5fff;
}

.navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link.boxed-btn {
  background-color: #7d5fff;
}

.singl-contact-info .icon {
  color: #7d5fff;
}
